<template id="branches">
	<div _="install TabContainer">
		<div role="tablist">
			{% for item in list %}
			<button id="button-{{item.name}}" role="tab" aria-controls="{{item.name}}"
				aria-selected="false">{{item.name}}</button>
			{% endfor %}
			<button id="button-custom" role="tab" aria-controls="custom"
				aria-selected="false">custom</button>
		</div>
		{% for item in list %}
		<section id="{{item.name}}" role="tabpanel" aria-labelledby="button-{{item.name}}"
			data-name="{{item.name}}" hx-ext="filter-hercules-jobs, client-side-templates"
			nunjucks-template="jobs" hx-swap="innerHTML" hx-target="#jobs-{{item.name}}"
			hx-disinherit="*" hx-trigger="load"
			hx-get="https://hercules-ci.com/api/v1/site/github/account/nix-community/project/dream2nix-auto-test/jobs?limit=5&amp;ref=refs/heads/{{item.name}}"
			hidden>
			<p><img src="https://raw.githubusercontent.com/nix-community/dream2nix-auto-test/gh-pages/{{item.name}}.svg"/></p>
			<meter style="width: 40%" _="install Meter">
				<span class="errors" id="{{item.name}}-errors"></span>
				<span class="failure" id="{{item.name}}-failure"></span>
				<span class="success" id="{{item.name}}-success"></span>
			</meter>
			<label><span></span>% checks (
				<span class="fails"></span>/<span></span> failed )
			</label>
			<div id="jobs-{{item.name}}"></div>
			<section data-name="{{item.name}}" hx-get="{{item.name}}/translation-errors.json"
				hx-ext="filter-hercules-jobs, client-side-templates" hx-trigger="load once"
				hx-swap="innerHTML" nunjucks-template="translation-errors">
				....loading
				data
				from {{item.name}}
			</section>
		</section>
		{% endfor %}
		<section id="custom" role="tabpanel" aria-labelledby="button-custom"
			data-name="custom" hx-disinherit="*"
			nunjucks-template="jobs" hx-swap="innerHTML" hx-target="#jobs-custom"
				hx-trigger="from-hyperscript"
				_="on htmx:sendError log detail then put 'see error in console, likely CORS, sorry' into me"
			hidden>
			<input
				id="input-custom"
				_="
					 on change fetch `https://api.github.com/repos/nix-community/dream2nix-auto-test/statuses/${my value}` as json
					 then set result to it[0]
					 then log result
					 then put JSON.stringify(result) into #jobs-custom
					 then set target to result.target_url
					 then set target to target.split('/').slice(-1)[0]
					 then set url to `https://hercules-ci.com/api/v1/jobs?site=github&account=nix-community&project=dream2nix-auto-test&index=${target}`
					 then make an <a.thing/>
					 then put it after me
					 then put url into it
					 set it's @href to url
					 fetch `https://hercules-ci.com/api/v1/jobs?site=github&account=nix-community&project=dream2nix-auto-test&index=${target}`
					 then set #custom@hx-get to target
					 call htmx.process(#custom)
					 then trigger 'from-hyperscript'
					"></input>
			<section id="input-result"></section>

			<meter style="width: 40%" _="install Meter">
				<span class="errors" id="custom-errors"></span>
				<span class="failure" id="custom-failure"></span>
				<span class="success" id="custom-success"></span>
			</meter>
			<label><span></span>% checks (
				<span class="fails"></span>/<span></span> failed )
			</label>
			<div id="jobs-custom"></div>
		</section>
	</div>
</template>
<!-- vim: set nu sw=2 ts=2 noet : -->
