<template id="builds">
	<span _="on load
					send loadMeter(failure:{{checksCountFailure}},success:{{checksCountSuccess}}) to <meter/> in closest <section[role=tabpanel]/>
					 "></span>
	<details>
		<summary>
			Build Failures (<span>{{checksCountFailure}}</span>)
		</summary>
		<label>Filter by name search:</label>
		<input _="
							on keyup
							show <section/> in closest <details/> when its textContent contains my value
							">
		{% for item in checks %}
		{% if 'Ok' in item.value %}
		{% if 'derivationPath' in item.value.Ok %}
		<section class="box warn">
			<a
				href="https://hercules-ci.com/accounts/github/nix-community/derivations/{{item.value.Ok.derivationPath}}/log?via-job={{jobid}}">
				<h4>{{item.path}} : {{item.value.Ok.status}}
					{{item.value.Error.errorType}}
				</h4>
				<details>
					<summary>{{item.path}} : {{item.value.Ok.status}}</summary>
					<section _="on htmx:sendError log detail then put 'see error in console, likely CORS, sorry' into me" hx-get="https://hercules-ci.com/accounts/github/nix-community/derivations/{{item.value.Ok.derivationPath}}/log/lines?via-job={{jobid}}" hx-trigger="intersect once"></section>
				</details>
			</a>
		</section>
		{% else %}
		<section class="box bad">
			<h4>{{item.path}} : {{item.value.Ok.status}}
				{{item.value.Error.errorType}}
			</h4>
			<code>{{item.value.Error.errorMessage}}</code>
			<details>
				<summary>Trace</summary>
				<pre>{{item.value.Error.trace}}</pre>
			</details>
		</section>
		{% endif %}
		{% else %}
		<section class="box bad">{{item.value|dump}}</section>
		{% endif %}
		{% endfor %}
	</details>
</template>
<!-- vim: set nu sw=2 ts=2 noet : -->
